<div class="card mb-2">
    <div class="row g-0 voucher-container-up">
      <div class="col-md-2 voucher-image">
        <img src="Logo-GoGalapagos-HR-BLANCO.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <div class="title-pre">Pre-Voucher of Services</div>
            <div class="voucher-number">N° 85221</div>
        </div>
      </div>
    </div>
  </div>
<div class="voucher-container">
    

    <div class="issue-date">Issued: Feb 7 2025</div>
    <div class="content-all">
    <div class="content-info">
    <table class="passenger-table">
        <thead>
          <tr>
            <th>Passenger Name</th>
            <th>Passport</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Francois Fawrat</td>
            <td>XOEO6U14</td>
            <td>Matrimonial Bed | Connected Cabin</td>
        </tbody>
        <tbody>
            <tr>
              <td>Francois Fawrat</td>
              <td>XOEO6U14</td>
              <td>Matrimonial Bed | Connected Cabin</td>
          </tbody>
          <tbody>
            <tr>
              <td>Francois Fawrat</td>
              <td>XOEO6U14</td>
              <td>Matrimonial Bed | Connected Cabin</td>
          </tbody>
      </table>
    </div>


    <div class="col">
        <h2 >TRIP INFORMATION</h2>
        <div class="card-body ">
            <table class="info-table">
                <thead>
                    <tr>
                      <th>DATE</th>
                        <th >SERVICES</th>
                        <th>DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Feb 17 2025</td>
                        <td>QUITO - BALTRA</td>
                        <td>9 Airline tickets</td>
                    </tr>
                    <tr>
                        <td>Pierre Favrat</td>
                        <td>XOEO6U14</td>
                        <td>Matrimonial Bed | Connected cabin</td>
                    </tr>
                    <tr>
                        <td>Francois Favrat</td>
                        <td>XOEO6U14</td>
                        <td>Twin bed | Connected cabin</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card-body ">
                <table class="flight-table">
                    <thead>
                        <tr>
                          <th>Quito - Baltra</th>
                            <th >Departure</th>
                            <th>Arrival</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Avianca Flight #1632</td>
                            <td>7:51 AM</td>
                            <td>5:33 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <div class="card-body">
                <table class="flight-table">
                    <thead>
                        <tr>
                            <th>San Cristobal - Quito</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Avianca flight #1631</td>
                            <td>1:06 PM</td>
                            <td>10:53 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        

    </div>
    <div class="disclaimer">
  <p>* PLEASE CONFIRM GALAPAGOS FLIGHTS SCHEDULE ONE WEEK BEFORE DEPARTURE</p>
    </div>
</div>
</div>