<div class="card mb-2">
    <div class="row g-0 voucher-container-up">
      <div class="col-md-2 voucher-image">
        <img src="Logo-GoGalapagos-HR-BLANCO.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <div class="title-pre">Pre-Voucher of Services</div>
            <div class="voucher-number">N° 85221</div>
        </div>
      </div>
    </div>
  </div>
<div class="voucher-container">
    

    <div class="issue-date">Issued: Feb 7 2025</div>
    <div class="content-all">
    <div class="content-info">
    <table class="passenger-table">
        <thead>
          <tr>
            <th>Passenger Name</th>
            <th>Passport</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Francois Fawrat</td>
            <td>XOEO6U14</td>
            <td>Matrimonial Bed | Connected Cabin</td>
        </tbody>
        <tbody>
            <tr>
              <td>Francois Fawrat</td>
              <td>XOEO6U14</td>
              <td>Matrimonial Bed | Connected Cabin</td>
          </tbody>
          <tbody>
            <tr>
              <td>Francois Fawrat</td>
              <td>XOEO6U14</td>
              <td>Matrimonial Bed | Connected Cabin</td>
          </tbody>
      </table>
    </div>


    <div class="col">
        <h2 >TRIP INFORMATION</h2>
        <div class="card-body ">
            <table class="info-table">
                <thead>
                    <tr>
                      <th>DATE</th>
                        <th >SERVICES</th>
                        <th>DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Feb 17 2025</td>
                        <td>QUITO - BALTRA</td>
                        <td>9 Airline tickets</td>
                    </tr>
                    <tr>
                        <td>Pierre Favrat</td>
                        <td>XOEO6U14</td>
                        <td>Matrimonial Bed | Connected cabin</td>
                    </tr>
                    <tr>
                        <td>Francois Favrat</td>
                        <td>XOEO6U14</td>
                        <td>Twin bed | Connected cabin</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card-body ">
                <table class="flight-table">
                    <thead>
                        <tr>
                          <th>Quito - Baltra</th>
                            <th >Departure</th>
                            <th>Arrival</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Avianca Flight #1632</td>
                            <td>7:51 AM</td>
                            <td>5:33 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <div class="card-body">
                <table class="flight-table">
                    <thead>
                        <tr>
                            <th>San Cristobal - Quito</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Avianca flight #1631</td>
                            <td>1:06 PM</td>
                            <td>10:53 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        

    </div>
    <div class="disclaimer">
  <p>* PLEASE CONFIRM GALAPAGOS FLIGHTS SCHEDULE ONE WEEK BEFORE DEPARTURE</p>
    </div>
</div>

    <div>
           <strong>FLIGHT & CRUISE DETAILS</strong>
            <p>When booked and confirmed by GO. While going to the airport your cruise documentation will be delivered.</p>
            <p>◦ <strong>Flight</strong>: Avianca #1632 (UIO-BAL) | Avianca #1631 (SCY-UIO)</p>
            <p>◦ <strong>Cruise</strong>: GALAPAGOS LEGEND - East Expedition (C)</p>
            <strong>YOUR CONTACTS</strong>
            <p>YYour Guide once you start your trip to Ecuador: Guide name</p>
            <p>GO Staff for check in at the airport the day of departure: Quito (593) 99 945 6205 / Guayaquil (593) 99 442 0957.</p>
            <p>GO Galapagos Telf. (02) 226 7000 from 8.30 to 17.30hrs. - Mon to Fri.</p>
            <p>◦ <strong>Airport Staff</strong>: Maria Laura Espinosa | (+593) 99 464 9032</p>
            <br>
            <br>
            <p><strong>MARIA FERNANDA IBAZA</strong></p>
            <p>Sales Executive</p>
    </div>
</div>
<div class="card-footerimg">
    <img src="franja.png" alt="" class="franja-img">
  </div>