  <div class="card mb-2">
  <div class="row g-0 voucher-container-up">
    <div class="col-md-2 voucher-image">
      <img src="Logo-GoGalapagos-HR-BLANCO.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <div class="title-pre">Pre-Voucher of Services</div>
          <div class="voucher-number">N° 85221</div>
      </div>
    </div>
  </div>
  </div>

  <div class="contenedor-principal">
  <div class="grid-container"style="margin: 0;" >
    <div class="celda">
      <h4>INCLUDED</h4>
    </div>
    <div class="celda">
      <h4>NOT INCLUDED AND TO BE INVOICED</h4>
    </div>
    <div class="celda">
      <h2>ONBOARD</h2>
  <ul>
      <li><strong>High-quality Galapagos cruise</strong> sharing double occupancy.</li>
      <li><strong>Two daily excursions</strong> guided by a bilingual naturalist guide.</li>
      <li><strong>Snorkeling</strong> opportunities (equipment included: fins, mask, snorkel).</li>
      <li><strong>Glass bottom boat</strong> (Available in Galapagos Legend).</li>
      <li><strong>Gourmet menu</strong> - all meals included, plus onboard snacks.</li>
      <li>BMO night under the stars.</li>
      <li>Welcome and farewell cocktails.</li>
      <li><strong>Dinghy transfers</strong> between port and ship.</li>
      <li><strong>Snorkeling equipment</strong>.</li>
      <li><strong>Children</strong>: special menu and activities available.</li>
  </ul>
  
  <h2 class="mainland-heading">MAINLAND</h2>
  <ul>
      <li><span class="highlight">3 nights</span> accommodation at the 5-star Hotel GO Quito Hotel.</li>
      <li><strong>Meals</strong>: <span class="highlight">3 breakfasts</span> in Quito.</li>
  </ul>
    </div>
    <div class="celda">
      <p>(net in US$ per person subject to change):</p>
  
  <ul>
      <li><span class="highlight">Air ticket</span> from Quito / Guayaquil to Galapagos
          <ul>
              <li>$495 per adult</li>
              <li>$375 per child under 12 years old</li>
          </ul>
      </li>
      <li><strong>Galapagos Entrance Fee</strong>
          <ul>
              <li>$200 per adult</li>
              <li>$100 for children under 12 years old.</li>
          </ul>
      </li>
      <li><strong>CGG Migration Control Card</strong>: $20 per person.</li>
  </ul>
  
  <p>Issued by GO in connection with the cruise itinerary, arranging and securing logistics, luggage, and passenger transfers from airports to port - ship and back, documentation.</p>
    </div>
  </div>
  </div>

  <div class="contenedor-principal">
  <div class="grid-container">
    <div class="celda">
      <h4>SUPPLEMENTS & DISCOUNTS</h4>
    </div>
    <div class="celda">
      <h4>OPTIONAL ONBOARD PLUS TAXES</h4>
    </div>
    <div class="celda">
      <ul>
        <li><strong>Single supplement</strong>:
            <ul>
                <li>50%, except in holiday seasons. (IS Dec - 5 Jan)</li>
                <li>The fee occupancy: 25% discount for a third person sharing a cabin with two full-paying guests. (Only available on Galapagos Legend).</li>
                <li>50% discount for children under 12 years old sharing a cabin with two full-fare paying guests. 25% discount during the holiday season.</li>
            </ul>
        </li>
    </ul>
    </div>
    <div class="celda">
      <ul>
        <li><strong>Internet</strong>: 4 or 5 days: $45 | 8 days: $65</li>
        <li><strong>Wetsuit rental</strong>: $25 for 4 or 5 days cruise</li>
        <li><strong>Kayak rental</strong>: $25 per use per person</li>
        <li><strong>Alcoholic and soft drinks</strong>: (packages available)</li>
        <li><strong>Scuba diving</strong> during GO's cruises: A $355 half-day tour includes 12 dives and equipment (pre-booking is required).</li>
        <li><strong>Doctor</strong>: Medical assistance and medication are additional costs. This Suggested per person per day $30 for crew / $10 for guide.</li>
        <li><strong>Tips</strong>: Suggested per person day $20 for crew / $10 for guide.</li>
    </ul>
  </div>
  </div>
  </div>
  <br>

  <div class="card-footer">
  <div class="card mb-3">
    <div class="card-bodyfooter"> 
            <table class="flight-table">
          <thead>
              <tr>
                  <th><strong>gogalapagos.com</strong></th>
                  <img src="Logo-GoGalapagos-HR-BLANCO.png" class="img-fluid rounded-start img-footer" alt="">
                  <th>Av. Catalina de Aldaz N34-41 Y Eloy Alfaro</th>
              </tr>
          </thead>
          <tbody >
              <tr >
                  <td>Unbranded: galapagosecuador.com</td>
                  <td></td>
                  <td>Quito-Ecuador</td>
              </tr>
          </tbody>
      </table>
      <div>

    <p class="card-textfooter"><strong>USA:</strong>1888 5055 346 | <strong>CANADA:1866343177</strong> | <strong>UK:</strong> 0114 4845 5281 389 | <strong>EC:</strong>(593) 222 456 205 </div>
  </div>
  </div>
  </div>